body {
margin: 0 ;
padding: 0;
background-color: #E3B6B1;
background-image:url(step1-1.png) ;
background-size: 100%;
background-repeat: no-repeat;
background-position:  top right;	
} 

#menu
{
  list-style: none;
  float: right;
  text-align: center ;
  display: flex;
  position: absolute;
	top: 5%;
	left: 40%;
	transform: translate(-26%, -50%);
	font-size: 0,5em;
}
.menu2
{
	position: absolute;
	top: 0%;
	right: 0%;
	display: none;
	width: 30px;
}

@media only screen and (max-width: 1150px) {
    #menu {
        display: none;
    } .menu2{
    	display:flex;}

   
}

.image_responsive{
position: absolute;
max-width: 10%;
top: 5%;
}
.title
{

  position: absolute;
	top: 9%;
	left: 55%;
	transform: translate(-26%, -50%);
	font-weight: bold ;
  text-align: center;
  text-shadow: 6px 2px 4px black;
  padding: 2px;
	background-color:rgba(236, 236, 236, 0.7);
	background-size: 5%;
	font-size: 4vw;
	font-family: French Script MT;
	color: #984F5A;
	margin-top: 20%;
	margin-right: 5%;
	margin-bottom: 2%;
	float: right;

}



h2
{
  text-align: center;
  font-size: 80px;
  margin: 0;
  padding: 0;
  float: left;
    border-bottom: 2px solid black;   
  width:100%;
  clear: both;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h3{

  
  font-size:30px;
  text-align: center;
  padding-bottom: 0;
}
p
{
  clear: left;

  display: flex;
  flex-direction: column;
  font-family: Comic sans MS;
  font-size: 3vw;
  text-align: center;
}
